<div class="card">
    <div class="card-header">{{ 'app.course.student_list.label' | trans }}</div>
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <td>{{ 'app.course.student_list.table.fullname' | trans }}</td>
                <td>{{ 'app.list.action.label' | transe }}</td>
            </tr>
            </thead>
            <tbody>
            <tr>
            </tr>
            </tbody>
        </table>
    </div>
</div>
