<a href="" class="nav-link">{{ 'app.navigation.course_list' | trans }}</a>
<a href="" class="nav-link">{{ 'app.navigation.marks_list' | trans }}</a>
<a href="" class="nav-link">{{ 'app.navigation.settings' | trans }}</a>
