@import 'bootstrap/scss/bootstrap';

$navigation-color: green;

body {
    display: flex;
    justify-content: flex-start;
}

.authorization-page {
    background: #E9FFCC;
}

.login-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation {
    position: fixed;
    background: $navigation-color;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;

    .nav-link {
        color: whitesmoke;
        background: #273F23;
        margin-bottom: 5px;

        &:hover {
            background: seagreen;
            color: white;
        }
    }

    .logout {
        position: absolute;
        bottom: -5px;
        width: 300px;
    }
}

.container {
    margin-left: inherit;
    max-width: 78%;
}

.clearfix-menu {
    width: 300px;
    height: 400px;
}

.profile-info {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #41922D;

    &-item {
        width: 100%;
        text-align: center;
    }

    &__avatar {
        img {
            border-radius: 50%;
            width: 124px;
            height: 124px;
        }
    }

    &__data {
        span {
            display: block;
            padding: 10px 5px;
            color: white;

            &.full-name {
                font-size: 1.2em;
            }
        }
    }
}

.breadcrumbs {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: inline;
        }

        li+li:before {
            padding: 3px;
            color: black;
            content: "/\00a0";
        }
    }
}

.filter-form {
    display: flex;
    flex-direction: row;
    column-gap: 15px;

    .filter-form__row {
        width: 100%;
    }
}

.text {
    &-right {
        text-align: right;
    }

    &-left {
        text-align: left;
    }
}

.display {
    &-block {
        display: block;
    }

    &-hidden {
        display: none;
    }
}

.nav-pills {
    background: whitesmoke;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.1);

    .nav-link {
        border-radius: 0;
        &.first-link {
            border-radius: 10px 0 0 10px;
        }

        &:hover {
            background: seagreen;
            color: white;
        }

        &.active {
            background: #273F23;
            color: white;
        }
    }
}

.select2-selection {
    display: block;
    height: 42px !important;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;

    .select2-selection__arrow {
        height: 39px !important;
        right: 6px !important;
    }
}

.student-list-button {
    padding-top: 33px;
}

.pagination {
    .card-body {
        max-height: 68px;
        gap: 20px;
        justify-content: end;
    }

    .pages-info {
        padding: 6px;
    }
}
